.add {
    width: 72%;
    margin-top: 45px;
}

.add button {
    background: #62A1EB;
    border-radius: 4px;
    color: #fff;
    font-family: "HelveticaNeue";
    padding: 18px 60px;
    border: none;
    font-size: 18px;
}

.buttons_container {
    width: 72%;
    display: flex;
    justify-content: space-between;
    padding-top: 170px;
    padding-bottom: 30px;
}

.buttons_container button {
    background-color: #6B40E3;
    color: #fff;
    padding: 18px 60px;
    border: none;
    font-size: 18px;
}

.buttons_container button:hover {
    cursor: pointer;
}