.input_container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input_container label {
    padding-top: 20px;
}


.input_container span {
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
    color: #2E2E2E;
}

.input {
    position: relative;
    display: flex;
    align-items: center;
}

.error {
    position: absolute;
    right: -30px;
    width: 25px;
    height: 25px;
}

.correct {
    position: absolute;
    right: 10px;
    width: 25px;
    height: 25px;
}