.button_container {
    width: 72%;
}

.add_more_button {
    margin-top: 50px;
    background-color: #62A1EB;
    padding: 20px 30px;
    color: #fff;
    border: none;
    font-size: 18px;
    border-radius: 4px;
}

.add_more_button:hover {
    cursor: pointer;
}

.buttons_container {
    width: 72%;
    display: flex;
    justify-content: space-between;
    padding-top: 90px;
    padding-bottom: 30px;
}

.buttons_container button {
    background-color: #6B40E3;
    color: #fff;
    padding: 18px 60px;
    border: none;
    font-size: 18px;
}

.buttons_container button:hover {
    cursor: pointer;
}