* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: 'HelveticaNeue';
  src: url('./fonts/HelveticaNeue.ttc');
}

body {
  font-family: 'HelveticaNeue';
  width: 100%;
  height: 100%;
}

/* GENERAL STYLES FOR FORMS */
.form_container {
  width: 100%;
  display: flex;

}

.form {
  width: 55%;
  height: 100vh;
  background-color: #F9F9F9;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #1A1A1A;
}


.arrowImageDiv {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 2%;
  text-decoration: none;
}

/* INPUT STYLES */

.inputStyle {
  border: 1px solid #BCBCBC;
  background-color: #fff;
  text-indent: 10px;
  font-size: 20px;
  height: 50px;
  width: 100%;
  border-radius: 5px;
  font-family: 'HelveticaNeue';

}

.inputStyle:focus {
  outline: none;
}


textarea {
  margin-top: 10px;
  border: 1px solid #BCBCBC;
  border-radius: 5px;
  height: 200px;
  font-size: 1.2rem;
  resize: none;
  font-family: 'HelveticaNeue';
  text-indent: 10px;
}

textarea:focus {
  outline: none;
  resize: none;
}


label {
  font-weight: bold;
  font-size: 1.6rem;
}